<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALLEarn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A5CF8BB1D53BDD400D8CFFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5CF8CF1D53BDD400D8CFFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5CF8DA1D53BDD400D8CFFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
